@import "stepThree";

.container__right__mid__summary{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 25px;
  border-radius: 10px;
  background-color: var(--Magnolia);
  @include desktop {
    padding: 20px;

  }
  & hr{
    width: 100%;
    height: 1px;
    background-color: var(--Light_gray);
    border: none;
  }
  &__section{
    display: flex;
    align-items: center;

    & div{
     & p{
        color: var(--Cool_gray);
        margin-top: 5px;
        cursor: pointer;
        &:hover{
          text-decoration: underline;
        }
      }
      & h3{
        color: var(--Marine_blue);

      }
    }
      


    & h5{
      font-size: 1rem;
      color: var(--Cool_gray);
      font-weight: 500;
    }

    &__uniqe{
      font-size: 1.1rem;
      font-weight: bold;
    }

    & p{
      margin-left: auto;
      // font-weight: 500;
      color: var(--Marine_blue);
    }
  }
}

.container__right__mid__Overall{
  display: flex;
  padding: 0 30px;
  align-items: center;

  @include desktop {
    padding: 0 20px;
  }
  
  & p{
    margin-left: auto;
    color: var(--Purplish_blue);
    font-size: 1.4rem;
    font-weight: bold;
  }
  & h5{
    font-size: 1rem;
    color: var(--Cool_gray);
    font-weight: 500;
  }
}