@import "app";

.container__right__mid__allCards{
  display: flex;
  gap: 15px;

  @include desktop {
   flex-direction: column;
  }

  &__card{ 
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    width: 150px;
    height: 200px;
    background-color: transparent;
    padding: 25px 15px;
    border: 1px solid var(--Light_gray);
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;

    @include desktop {
       width: 100%;
       height: fit-content;
       flex-direction: row;
       align-items: center;
       justify-content: start;
       gap: 20px;
       padding: 10px 15px;
     }

    &:hover{
      border: 1px solid var(--Purplish_blue);
    }
    
    &.active{
      border: 1px solid var(--Purplish_blue);
      background-color: var(--Magnolia);
    }

    & div h3{
      color: var(--Marine_blue);
      font-size: 1.1rem;
      margin-bottom: 5px;
      @include desktop {
        font-size: 0.9rem;
      }
    }

    & div p{
      color: var(--Cool_gray);
      font-size: 0.9rem;
      margin-bottom: 5px;
      @include desktop {
        font-size: 0.7rem;
      }
    }
    & div .info{
      color: var(--Marine_blue);
      font-size: 0.9rem;
      margin-bottom: 0;
      @include desktop {
        font-size: 0.7rem;
      }
    }
  }
}

.container__right__mid__toggle{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  height: 50px;
  border-radius: 12px;
  background-color: var(--Magnolia);
  @include desktop {
    border-radius: 8px;
    height: 40px;

  }

  & p.active{
    color: var(--Marine_blue);
  }
  & p{
    color: var(--Cool_gray);
    font-weight: 600;
    @include desktop {
      font-size: 0.8rem;
    }
  }
}

.errorP{
  align-self: center;
  font-weight: 500;
  color: var(--Strawberry_red);
  @include desktop {
    font-size: 0.8rem;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;

  @include desktop {
    height: 20px;
    width: 40px;
  }

  & input {
    opacity: 0;
    width: 0;
    height: 0;

    &:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
      @include desktop {
        transform: translateX(18px);
      }
    }
  }

  & .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--Marine_blue);
    -webkit-transition: .4s;
    transition: .4s;

    &.round {
      border-radius: 34px;
      &:before {
        border-radius: 50%;
      }
    }
    &:before {
      position: absolute;
      content: "";
      height: 16px;
      width: 16px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
      @include desktop {
        height: 13px;
        width: 13px;
      }
      
    }
  }
}





