html {
  box-sizing: border-box;
  font-size: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: var(--Light_gray);
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 700px) {
  body {
    align-items: start;
  }
}

.container {
  background-color: var(--White);
  border-radius: 15px;
  width: 1000px;
  height: 700px;
  display: flex;
  padding: 12px;
}
@media (max-width: 700px) {
  .container {
    width: 450px;
    height: -moz-fit-content;
    height: fit-content;
    margin-top: 150px;
  }
}
.container__left {
  flex: 1;
  position: relative;
  background-color: var(--Purplish_blue);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 700px) {
  .container__left {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    border-radius: 0;
  }
}
.container__left__steps {
  position: absolute;
  top: 60px;
  left: 20px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 700px) {
  .container__left__steps {
    flex-direction: row;
    gap: 25px;
    left: 50%;
    margin-left: -120px;
  }
}
.container__left__steps__num {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 40px;
}
.container__left__steps__num.active div:first-child {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font: bold 1.2rem "Ubuntu";
  color: var(--Marine_blue);
  background-color: var(--Light_blue);
}
.container__left__steps__num div:first-child {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font: bold 1.2rem "Ubuntu";
  color: var(--Light_gray);
  background-color: transparent;
  border: 1px solid var(--Light_blue);
}
.container__left__steps__num div p {
  font: 400 0.8rem "Ubuntu";
  color: var(--Cool_gray);
  margin-bottom: 5px;
}
.container__left__steps__num div h3 {
  font: bold 1rem "Ubuntu";
  color: var(--Light_gray);
  letter-spacing: 1px;
}
.container__left svg {
  align-self: self-end;
}
@media (max-width: 700px) {
  .container__left svg {
    width: 550px;
    height: auto;
  }
}
.container__right {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 70px 90px 40px 130px;
}
@media (max-width: 700px) {
  .container__right {
    padding: 25px 15px;
  }
}
.container__right__top {
  margin-bottom: 40px;
}
@media (max-width: 700px) {
  .container__right__top {
    margin-bottom: 30px;
  }
}
.container__right__top h1 {
  color: var(--Marine_blue);
  margin-bottom: 15px;
}
.container__right__top p {
  color: var(--Cool_gray);
}
@media (max-width: 700px) {
  .container__right__top p {
    font-size: 1.1rem;
    line-height: 25px;
  }
}
.container__right__mid {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
}
.container__right__mid__input {
  position: relative;
}
.container__right__mid__input p {
  position: absolute;
  right: 10px;
  color: var(--Strawberry_red);
  font-weight: 500;
}
.container__right__mid__input label {
  display: block;
  color: var(--Marine_blue);
  margin-bottom: 8px;
}
.container__right__mid__input input {
  font-family: "Ubuntu", sans-serif;
  width: 100%;
  height: 50px;
  border: 1px solid var(--Light_gray);
  border-radius: 6px;
  font-size: 1rem;
  text-indent: 8px;
}
.container__right__mid__input input.error {
  border: 1px solid var(--Strawberry_red);
}
.container__right__mid__input input::-moz-placeholder {
  color: var(--Cool_gray);
  font-weight: 500;
}
.container__right__mid__input input::placeholder {
  color: var(--Cool_gray);
  font-weight: 500;
}
.container__right__bottom {
  margin-top: auto;
  display: flex;
  width: 100%;
  align-items: start;
}
.container__right__bottom button {
  width: 120px;
  margin-left: auto;
  font: 500 1rem "Ubuntu", sans-serif;
  height: 50px;
  background-color: var(--Marine_blue);
  border: none;
  border-radius: 8px;
  color: var(--White);
  cursor: pointer;
}
.container__right__bottom button.confirm {
  background-color: var(--Purplish_blue);
}
.container__right__bottom p {
  align-self: center;
  color: var(--Cool_gray);
  cursor: pointer;
  font-weight: 500;
}
@media (max-width: 700px) {
  .container__right__bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    padding: 0 20px;
    height: 80px;
    background-color: var(--White);
  }
}

.container__right__mid__allCards {
  display: flex;
  gap: 15px;
}
@media (max-width: 700px) {
  .container__right__mid__allCards {
    flex-direction: column;
  }
}
.container__right__mid__allCards__card {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  width: 150px;
  height: 200px;
  background-color: transparent;
  padding: 25px 15px;
  border: 1px solid var(--Light_gray);
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
@media (max-width: 700px) {
  .container__right__mid__allCards__card {
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 20px;
  }
}
.container__right__mid__allCards__card:hover {
  border: 1px solid var(--Purplish_blue);
}
.container__right__mid__allCards__card.active {
  border: 1px solid var(--Purplish_blue);
  background-color: var(--Magnolia);
}
.container__right__mid__allCards__card div h3 {
  color: var(--Marine_blue);
  font-size: 1.1rem;
  margin-bottom: 5px;
}
.container__right__mid__allCards__card div p {
  color: var(--Cool_gray);
  font-size: 0.9rem;
  margin-bottom: 5px;
}
.container__right__mid__allCards__card div .info {
  color: var(--Marine_blue);
  font-size: 0.9rem;
  margin-bottom: 0;
}

.container__right__mid__toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  height: 50px;
  border-radius: 12px;
  background-color: var(--Magnolia);
}
.container__right__mid__toggle p.active {
  color: var(--Marine_blue);
}
.container__right__mid__toggle p {
  color: var(--Cool_gray);
  font-weight: 600;
}

.errorP {
  align-self: center;
  font-weight: 500;
  color: var(--Strawberry_red);
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch input:checked + .slider:before {
  transform: translateX(26px);
}
.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--Marine_blue);
  transition: 0.4s;
}
.switch .slider.round {
  border-radius: 34px;
}
.switch .slider.round:before {
  border-radius: 50%;
}
.switch .slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

.container__right__mid__allSelections {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.container__right__mid__allSelections__selection {
  display: flex;
  align-items: center;
  border: 1px solid var(--Light_gray);
  padding: 20px 25px;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.container__right__mid__allSelections__selection:hover {
  border: 1px solid var(--Purplish_blue);
}
.container__right__mid__allSelections__selection.active {
  background-color: var(--Magnolia);
  border: 1px solid var(--Purplish_blue);
}
.container__right__mid__allSelections__selection p {
  margin-left: auto;
  color: var(--Purplish_blue);
  font-weight: 500;
}
.container__right__mid__allSelections__selection div h3 {
  font-size: 1.2rem;
  margin-bottom: 3px;
  color: var(--Marine_blue);
}
.container__right__mid__allSelections__selection div p {
  font-size: 1rem;
  color: var(--Cool_gray);
  font-weight: 400;
}
.container__right__mid__allSelections__selection input {
  margin-right: 30px;
  width: 20px;
  height: 20px;
  accent-color: var(--Purplish_blue);
}

.container__right__mid__summary {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 25px;
  border-radius: 10px;
  background-color: var(--Magnolia);
}
.container__right__mid__summary hr {
  width: 100%;
  height: 1px;
  background-color: var(--Light_gray);
  border: none;
}
.container__right__mid__summary__section {
  display: flex;
  align-items: center;
}
.container__right__mid__summary__section div p {
  color: var(--Cool_gray);
  margin-top: 5px;
  cursor: pointer;
}
.container__right__mid__summary__section div p:hover {
  text-decoration: underline;
}
.container__right__mid__summary__section div h3 {
  color: var(--Marine_blue);
}
.container__right__mid__summary__section h5 {
  font-size: 1rem;
  color: var(--Cool_gray);
  font-weight: 500;
}
.container__right__mid__summary__section__uniqe {
  font-size: 1.1rem;
  font-weight: bold;
}
.container__right__mid__summary__section p {
  margin-left: auto;
  color: var(--Marine_blue);
}

.container__right__mid__Overall {
  display: flex;
  padding: 0 30px;
  align-items: center;
}
.container__right__mid__Overall p {
  margin-left: auto;
  color: var(--Purplish_blue);
  font-size: 1.4rem;
  font-weight: bold;
}
.container__right__mid__Overall h5 {
  font-size: 1rem;
  color: var(--Cool_gray);
  font-weight: 500;
}

.container__right__confirm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 15px;
  animation: slidein 0.5s ease-in-out forwards;
}
@media (max-width: 700px) {
  .container__right__confirm {
    padding: 100px 0;
  }
}
.container__right__confirm h1 {
  color: var(--Marine_blue);
  margin-top: 20px;
  font-size: 2.5rem;
}
.container__right__confirm p {
  text-align: center;
  line-height: 25px;
  font-size: 1.03rem;
  color: var(--Cool_gray);
}
@media (max-width: 700px) {
  .container__right__confirm p {
    font-size: 1.1rem;
  }
}

@keyframes slidein {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
:root {
  --Marine_blue: hsl(213, 96%, 18%);
  --Purplish_blue: hsl(243, 100%, 62%);
  --Pastel_blue: hsl(228, 100%, 84%);
  --Light_blue: hsl(206, 94%, 87%);
  --Strawberry_red: hsl(354, 84%, 57%);
  --Cool_gray: hsl(231, 11%, 63%);
  --Light_gray: hsl(229, 24%, 87%);
  --Magnolia: hsl(217, 100%, 97%);
  --Alabaster: hsl(231, 100%, 99%);
  --White: hsl(0, 0%, 100%);
}/*# sourceMappingURL=styles.css.map */